<?php

return [
    'attributes' => [
        'shipFrom' => [
            'name' => 'Sender name',
            'address1' => 'Sender street',
            'city' => 'Milano',
            'postalCode' => '20129',
            'state' => 'MI',
            'country' => 'IT',
            'contact' => 'Sender contact name',
            'phone' => '1234567890',
            'email' => 'sender@ship.from',
        ],
        'shipTo' => [
            'name' => 'Receiver name',
            'address1' => 'Receiver street',
            'city' => 'Muenchen',
            'postalCode' => '80331',
            'state' => null,
            'country' => 'DE',
            'contact' => 'Receiver contact name',
            'phone' => '0987654321',
            'email' => 'receiver@ship.to'
        ],
        'packages' => [
            [
                'weight' => [
                    'value' => '1.2',
                    'units' => '1'
                ],
                'dimensions' => [
                    'length' => '32',
                    'width' => '33',
                    'height' => '34',
                    'units' => '1'
                ],
                'type' => 'CARTON',
            ],
            [
                'weight' => [
                    'value' => '1.9',
                    'units' => '1'
                ],
                'dimensions' => [
                    'length' => '32',
                    'width' => '33',
                    'height' => '34',
                    'units' => '1'
                ],
                'type' => 'CARTON',
            ]
        ],
        'goodsDescription' => 'Items from order #1',
        'invoiceSubtotal' => [
            'amount' => 13.69,
            'currency' => \ParcelValue\Api\JsonApi\ResourceObjects\Shipment::CURRENCY_EUR,
        ],
        'useCod' => true,
        'saturdayDelivery' => true,
    ],
    'meta' => [
        'service' => 'express',
    ],
];
