<?php

declare(strict_types=1);

return [
    'attributes' => [
        'shipFrom' => [
            'name' => 'Sender name',
            'address1' => 'Sender street',
            'address2' => 'Sender line 2',
            'city' => 'Milano',
            'postalCode' => '20129',
            'state' => 'MI',
            'country' => 'IT',
            'contact' => 'Sender contact name',
            'phone' => '1234567890',
            'email' => 'sender@ship.from',
            'taxIdentification' => '152731102024',
        ],
        'shipTo' => [
            'name' => 'Receiver name',
            'address1' => 'Receiver street',
            'address2' => 'Receiver line 2',
            'city' => 'Muenchen',
            'postalCode' => '80331',
            'state' => null,
            'country' => 'DE',
            'contact' => 'Receiver contact name',
            'phone' => '0987654321',
            'email' => 'receiver@ship.to',
            'taxIdentification' => '152831102024',
        ],
        'packages' => [
            [
                'weight' => [
                    'value' => '1.2',
                    'units' => '1',
                ],
                'dimensions' => [
                    'length' => '32',
                    'width' => '33',
                    'height' => '34',
                    'units' => '1',
                ],
                'type' => 'CARTON',
            ],
            [
                'weight' => [
                    'value' => '1.9',
                    'units' => '1',
                ],
                'dimensions' => [
                    'length' => '32',
                    'width' => '33',
                    'height' => '34',
                    'units' => '1',
                ],
                'type' => 'CARTON',
            ],
        ],
        'goodsDescription' => 'Items from order #1',
        'insuranceDescription' => 'Testers',
        'insuranceValue' => 123.45,
        'invoiceSubtotal' => [
            'amount' => 13.69,
            'currency' => \ParcelValue\Api\JsonApi\ResourceObjects\Shipment::CURRENCY_EUR,
        ],
        'customerReference' => 'REF 123',
        'specialInstructions' => 'Second door on the left',
        'confirmationEmail' => 'documents@ship.from',
        'booking' => true,
        'incoTerms' => 2,
    ],
    'meta' => [
        'scheduledProcessing' => false,
        'service' => 'express',
    ],
];
